streamlit
fastapi
uvicorn
bcrypt
PyJWT
kafka-python
google-genai
chromadb
elasticsearch>=8.0.0
openai
ddgs
pypdf
pillow
arize-phoenix
arize-phoenix-otel
arize-phoenix-client
openinference-instrumentation-openai
openinference-semantic-conventions
redis
jupyter
pytest
pytest-cov
matplotlib
pandas
